services:
  browserless:
    image: ghcr.io/browserless/chromium
    container_name: browserless
    ports:
      - "3000:3000"
    restart: unless-stopped
    networks:
      - app-network

  v-login:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: v-login
    ports:
      - "5090:5090"
    volumes:
      - ./proxy_data:/app/proxy_data
    environment:
      - NODE_ENV=production
      - WRITE_DIR=/app
    restart: unless-stopped
    networks:
      - app-network

networks:
  app-network:
    driver: bridge